{% extends "layout.html" %}
  {% block content %}
  <!-- modal dialog -->
  <div id="notYetModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Mamba Download</h3>
    </div>
    <div class="modal-body">
       <p>Sorry but Mamba is not yet ready to donwload. It will be available sortly</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>

  <div class="container">

    <div class="introduction">
      <h1>Built with steroids</h1>
      <p class="caption">Introducing Mamba Framework Components</p>

      <div class="row-fluid">
        <div class="span4">
          <img src="assets/twisted-component.png" />
          <h2>Twisted Framework</h2>
          <p>Mamba is built on top of <a href="http://twistedmatrix.com/documents/current/web/howto/" target="_blank">Twisted Web</a> and uses <a href="http://twistedmatrix.com/trac/" target="_bkank">Twisted</a> as WSGI web server as well. Twisted is an <a href="http://en.wikipedia.org/wiki/Event-driven_programming" target="_blank">event-driven</a> newtork programming framework completely written in Python and licensed under the <a href="http://opensource.org/licenses/MIT" target="_bkank">MIT License</a>.</p>
        </div>
        <div class="span4">
          <img src="assets/storm-logo.png" />
          <h2>Storm ORM</h2>
          <p>Mamba uses <a href="https://storm.canonical.com/">Storm</a> as Object Relational Mapper. Storm is an object-relational mapper for Python developed at Canonical. Storm is successfully used in Canonical projects such as <a href="https://launchpad.net/" target="_blank">Launchpad</a> and <a href="http://www.canonical.com/projects/landscape" target="_blank">Landscape</a>. Storm was released on July 9th, 2007 under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU LGPL</a> License</p>
        </div>
        <div class="span4">
          <img src="assets/jinja.png" />
          <h2>Jinja2</h2>
          <p>While Twisted has its own <a href="http://twistedmatrix.com/documents/current/web/howto/twisted-templates.html" target="_blank">templating system</a>, Mamba uses <a href="http://jinja.pocoo.org/">Jinja2</a> as primary templating system. Jinja2 is a full featured template engine for Python with full unicode support, and <a href="http://jinja.pocoo.org/docs/sandbox/" target="_blank">integrated sandboxed execution environment</a> licensed with the <a href="http://opensource.org/licenses/BSD-3-Clause" target="_blank">BSD 3-Clause License</a>.</p>
        </div>
      </div>

      <h1>Make the web asynchronous</h1>
      <p class="caption">Event driven programming using the Twisted's reactor pattern implementation</p>

      <div class="row-fluid">
        <div class="span6">
          <img src="assets/reactor.png" />
          <h2>Twisted reactor pattern</h2>
          <p>Twisted implementation of the <a href="http://en.wikipedia.org/wiki/Reactor_pattern#Python" target="_blank">reactor pattern</a> supports foreign event loops like <a href="http://www.gtk.org/" target="_blank">GTK+</a>, <a href="http://qt.digia.com/" target="_blank">Qt</a> and <a href="https://developer.apple.com/technologies/mac/cocoa.html">Cocoa</a>. As Mamba is built on top of Twisted Web, all the code in Mamba is <strong>asynchronous</strong> as well, including the <strong>database access</strong> layer. You can integrate Mamba as web layer in your already built Twisted applications as well because <strong>Mamba is just Twisted</strong>.</p>
        </div>
        <div class="span6">
          <img src="assets/mamba-storm.png" />
          <h2>Storm Mamba Integration</h2>
          <p>Mamba uses the <a href="http://bazaar.launchpad.net/~storm/storm/trunk/view/head:/storm/twisted/transact.py" target_="_blank">Storm Twisted integration</a> that was added in version 0.19 of the library. In Mamba, database <strong>queries run asynchronous</strong> so you can expect to use the result from database operations as <a href="http://twistedmatrix.com/documents/current/core/howto/defer.html" target="_blank">Twisted Deferreds</a>. Storm is a schemaless library so Mamba <a href="http://en.wikipedia.org/wiki/Monkey_patch">monkeypatch</a> part of the library to allow nice Mamba self features like <strong>schema generation</strong> through model classes. No configuration files are needed to use Mamba Storm, just your <strong>Python definitions</strong>.</p>
        </div>

      </div>

    </div>

  </div>

  {% endblock %}
