{% extends "layout.html" %}
  {% block navbar %}
  {{ super() }}
  {% endblock %}
  {% block content %}
  {{ super() }}
  <div class="container">

    <div class="introduction contact">
      <h1>How to contact us?</h1>
      <p class="caption">There are several ways to put yourself in touch with us</p>

      <div class="row-fluid">
        <div class="span4">
          <img class="reduce" src="assets/octocat.png" />
          <h2>GitHub</h2>
          <p>
            Mamba is a Free Software project, so you can redistribute it and/or modify
            it under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.html">
            GNU General Public License</a> version 3 or any later version. The Mamba's
            source code is public and available in both <a href="https://github.com/DamnWidget/mamba">
            Github</a> and <a href="https://bitbucket.org/damnwidget/mamba">Bitbucket</a> git repositories.
          </p>
        </div>
        <div class="span4">
          <img class="reduce" src="assets/twitter.png" />
          <h2>Twitter</h2>
          <p>
            You can follow us in our official <a href="http://twitter.com">Twitter</a>
            account. We use this account to inform about the latests news related with
            Mamba as releases, bug fixes, security issues and more. We also try to
            reply to anyone that put in contact with us through Twitter. Just follow the
            <a href="https://twitter.com/pymamba">@pymamba</a> account.
          </p>
        </div>
        <div class="span4">
          <img class="reduce" src="assets/arroba.png" />
          <h2>EMail</h2>
          <p>
            You can also get involve registering yourself in any of the following mailing lists:
            <ul class="left">
              <li><a href="mailto:mamba-support@googlegroups.com">Support Google Groups</a> - mamba support list</li>
              <li><a href="mailto:mamba-learn@pgooglegroups.com">Learn Google Groups</a> - mamba learning center list</li>
              <li><a href="mailto:mamba-developers@googlegroups.com">Developers Google Groups</a> - core-developers list</li>
            <ul>
          </p>
        </div>
      </div>

      <h1>Just use the contact form</h1>
      <p class="caption">If you don't like the contact methods above you can just use this contact form</p>

      <div class="row-fluid">
        <div class="span6 offset3">

          <form class="left" id="contact" action="#">
            <fieldset>
              <legend>Contact Form</legend>
              <label>Who are you?</label>
              <input class="input-xlarge" id="name" type="text" placeholder="Your name..." required>
              <label>Where to contact with you?</label>
              <input class="input-xlarge" id="email" type="email" placeholder="Your email..." required>
              <span class="help-block">We don't use your email to send you non requested information</span>
              <label>What we can do for you?</label>
              <textarea id="content" rows="6" required>
              </textarea><br />
              <button type="submit" class="btn btn-inverse">Send Request</button>
            </fieldset>
          </form>

        </div>
      </div>

    </div>

  </div>

  <div class="success modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Contact request confirmation</h3>
    </div>
    <div class="modal-body">
      <p>
        Your request has been sent. We try to reply all the queries we get but expect between 24 and 72 hours of time lapse.
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>

  <div class="fail modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Contact request error</h3>
    </div>
    <div class="modal-body">
      <p>
        Sorry but I wasn't able to send your request to the server, Try again later
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>

  {% endblock %}
